<div>
	<h1>Control MAC Filters</h1>

	<h3>Router Model/Version: <%= @router_model_and_version %></h3>
</div>

<div class="">

    <div class="">
    	<button id="enableMACFilterBtn" data-dojo-type="dijit/form/Button" type="button">Enable MAC Filters</button>
    </div>

    <div class="">
    	<button id="disableMACFilterBtn" data-dojo-type="dijit/form/Button" type="button">Disable MAC Filters</button>
    </div>
    
</div>