<div class="">
    <div class="">
        <h2>Habilitar Filtros MAC</h2>
        <p><a class="btn btn-important" href="#">HABILITAR</a></p>
    </div>
    <div class="">
        <h2>Desabilitar Filtros MAC</h2>
        <p><a class="btn btn-important" href="#">DESABILITAR</a></p>
    </div>
</div>